@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400 600;
  font-display: optional;
  src: url(/fonts/Inter-roman.latin.var.woff2) format('woff2');
}

@layer components {
  .link {
    @apply text-fuchsia-500 hover:text-fuchsia-400;
  }
  .icon {
    @apply h-6 hover:scale-110 active:scale-90 transition duration-100;
  }
}
